langchain
langchain-community
langchain-core
langchain-groq
langchain-qdrant
langchain_huggingface
qdrant-client
pymupdf
sentence-transformers
fastapi
uvicorn
pydantic
# flask-cors
gradio
requests
transformers
python-dotenv
huggingface-hub
numpy
torch
aiofiles
msal
markdown
